.customCombobox {
  width: 250px;
}

.comboboxInput {
  border: none;
  outline: none;
}

.comboboxInputRow {
  display: flex;
  justify-content: space-between;
}

.comboboxInputRow > :first-child {
  width: 90%;
}

.datalist {
  text-align: start;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 250px;
}

.listItem {
  cursor: pointer;
}

.listItem:hover {
  background-color: var(--color-item-hover);
}
