.customCombobox {
  position: relative;
  display: inline-block;
}

.comboboxInput {
  border: none;
  outline: none;
}

.comboboxInputRow {
  display: flex;
  justify-content: space-between;
}

.comboboxInputBorder {
  border: 1px solid var(--color-blue);
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.datalist {
  border: 1px solid var(--color-blue);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: none;
  text-align: start;
  width: 99%;
  display: block;
  position: absolute;
  z-index: 1;
  gap: 8px;
}

.customCombobox:hover .datalist {
  display: block;
}

.listItem {
  cursor: pointer;
}

.listItem:hover {
  background-color: var(--color-item-hover);
}
