.customCombobox {
  /* background-color: red; */
}

.comboboxInput {
  background-color: var(--color-grey);
  border: none;
  outline: none;
}

.comboboxInputRow {
  background-color: var(--color-grey);
  display: flex;
  justify-content: space-between;
}

.comboboxInputRow > :first-child {
  width: 90%;
}

.datalist {
  text-align: start;
  position: absolute;
}
